* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
}
.pop {
  font-family: 'Poppins', sans-serif;
}
.dnc {
  font-family: 'Dancing Script', cursive;
}
.container li {
  list-style:none;
}
.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
/* ヘッダー */
header {
  padding: 27px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.logo span{
  color: #80ba4a;
}

.header_menu li {
  margin-left: 40px;
}
.header_menu li a {
  transition: .3s;
}
.header_menu li a:hover {
  color: #80ba4a;
  transition: .3s;
}
#hero {
  background-image: url(../img/airport.jpg);
  background-position: center;
  background-size: cover;
  height: 540px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  overflow: hidden;
}
#hero::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-inde: 1;
}

.hero_inner {
  z-index: 2;
  color: white;
  width: 100%;
  text-align: center;
}

.hero_inner p {
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 16px;
}

.hero_inner h1 {
  font-size: 32px;
  font-weight: 700px;
  margin-bottom: 30px;
}